.content-container-temp {
    top: 0;
    left: 0;
    bottom: 0;
    height: 1080px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.backImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url(../open-packs/imgs/maxresdefault.jpg) no-repeat;
    filter: brightness(35%);
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.rightSide {
	width: 20%;
	height: 900px;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	box-shadow: 0 0 10px 10px white;
}

.mainContent {
	width: 70%;
	height: 100%;
	float: left;
}

.content-container-tmp > h1 {
    color: White;
    float: left;
    padding-left: 2%;
    bottom: 0;
}