.clear-view{
	clear: both;
}

.tmp-wrapper-container{ 
	min-height: 1000px;
	margin: 2%;
    box-shadow: 2px 2px 6px grey;	
}

.tmp-view-container{

	min-height: 900px;
    margin: 2%;
}

.cards-list-section{
	width: 65%;
	position: relative;
	float: left;
	padding: 10px;
	display: inline-flex;
    flex-wrap: wrap;
    min-height: 800px;
    align-content: space-evenly;

}

.deck-list-section{
	width: 30%;
	position: relative;
	float: right;
	min-height: 600px;

}

.deck-list-pool{
	overflow-y: auto;
	border: 5px dashed #bbb;
	border-radius: 10px;
	min-height: 600px;
	max-height: 800px;
	padding: 15px;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;

}

.deck-name-container{
	position: relative;
	display: block;
	padding: 15px;

}

.deck-name-input{
	display: block;
	margin: auto;
	width: 250px;
	padding: 10px;

}
.deck-cards-container{
	margin: auto;
    width: 200px;
    padding-bottom: 20px;

}
.deck-cards-container-text{
    line-height: 40px;
    font-size: 20px;
    font-family: Acme;
    text-align: center;
}

.card-model{
	line-height: 30px;
	height: 50px;
	width: 250px;
	position: relative;
}

.tmp-card-model{
	background-image: url("../../../../images/card_inline_small_3.png");
	background-position: left bottom;
	border-radius: 5px;
	width: 250px;
	height: 50px;
	background-color: blue;
	color: white;
	border: 2px solid black;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

/*.tmp-card-model:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 30px 10px rgba(36, 84, 102, 0.85);
    border: 2px solid #245466;

}*/

.hover-effect {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 30px 10px rgba(36, 84, 102, 0.85);
    border: 2px solid #245466;

}

.tmp-card-cost{

	display: inline-block;
    float: left;
	border: 3px solid #f1c40f;
	box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: relative;
    background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
    top: -8px;
    left: -18px;
    color: #03baff;
    text-align: center;
    background-color: white;
    padding-top: 15px;
    font-family: Acme;
    font-size: 35px;
    text-shadow: 1px 1px #9b59b6;
}

.tmp-card-name{
	
	/*position: relative;
    text-align: center;
    color: white;
    word-wrap: break-word;
    line-height: 20px;
    width: 220px;
    height: 50px;
    padding-top: 7px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;*/
    position: absolute;
	display: table;
    /*text-align: center;*/
    color: white;
    word-wrap: break-word;
    line-height: 20px;
    width: 220px;
    height: 50px;
    /*padding-top: 7px;*/
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;

}

.align-name-center{
    line-height: 21px;
    word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 50px;


}

.save-denied{

	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.1);
	background-color:#aeafae;
	border:1px solid #272727;
}

.save-allowed {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.1);
	background-color:#9dce2c;
	border:1px solid #83c41a;
}

.good-counter{
	color: #27ae60;
}

.bad-counter{
	color: #c0392b;

}