.view-type-container {
    margin: 2%;
    background: white;
    /* background: rgba(230, 126, 34, 0.7); */
    box-shadow: 2px 2px 6px grey;
}

.view-type-headder {
    border-bottom: 5px solid black;
    padding-left: 2%;
    padding-right: 2%;
}

.view-type-headder * {
    display: inline-block;
}

.view-type-search {
    float: right;
    margin-top: 28px;
}

.view-type-content-container {
    margin-top: 2px;
}

.view-type-table tr,
th,
td {
    border: 2px solid black;
    padding: 5px;
}

.view-type-table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 2%;
}

.view-type-table button {
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
}

.table-delete {
    background: #d9534f;
    color: white;
}

.table-delete:hover {
    background: #f43f3a;
}

.table-edit {
    background: #f0ad6e;
    color: white;
}

.table-edit:hover {
    background: #eea236;
}

.view-type-table button:hover {
    cursor: pointer;
}

.view-type-under-table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
}

.view-type-under-table * {
    display: inline-block;
}

.view-type-under-buttons {
    float: right;
}

.view-type-under-table button {
    margin-top: 13px;
    margin-left: 2px;
    margin-right: 2px;
}

.off {
    background: silver;
    color: white;
    border: solid 1px black;
}