.StartDiv {
    height: 1000px;
    width: 1800px;
    margin: 1% 2% 2% 2%;
    vertical-align: middle;
    background-Image: url(http://im.tiscali.cz/games/2015/11/08/563782-hearthstone-the-league-of-explorers-1920x1080.jpg);
    background-Size: cover;
    filter: brightness(20%);
    box-shadow: 2px 2px 6px grey;
    z-index: -1;
}

.GameDiv {
    height: 95%;
    margin: 1% 2% 2% 2%;
    box-shadow: 2px 2px 6px grey;
    font-size: 0px;
}

.startButton {
    border-radius: 20px;
    position: absolute;
    margin: 20% 40%;
    width: 20%;
    background: #6BB9F0;
    display: block;
    font-size: 200%;
    padding: 15px 32px;
    z-index: 1;
}

.OpponentHand {
    width: 100%;
    height: 15%;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.Info {
    width: 15%;
    height: 70%;
    float: right;
    display: inline-block;
}

.OpponentMana {
    width: 29%;
    height: 40%;
    border: 1px solid yellow;
    margin-right: 1%;
    margin-top: 1%;
    float: right;
    display: flex;
    align-items: center;
}

.PlayerMana {
    width: 29%;
    height: 40%;
    border: 1px solid yellow;
    margin-right: 1%;
    margin-top: 1%;
    float: right;
    display: flex;
    align-items: center;
}

.OpponentDeck {
    width: 100%;
    height: 40%;
    border: 1px solid purple;
}

.EndTurnButton-Container {
    width: 100%;
    height: 20%;
    border: 1px solid red;
}

.EndTurnButton {
    font-size: 60px;
}

.PlayerDeck {
    width: 100%;
    height: 40%;
    border: 1px solid purple;
}

.OpponentField {
    width: 85%;
    height: 35%;
    border: 1px solid green;
    display: block;
}

.PlayerField {
    width: 85%;
    height: 35%;
    border: 1px solid blue;
    display: block;
    text-align: center;
    padding-top: 3%;
}

.PlayerHand {
    width: 100%;
    height: 15%;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.Mana {
    width: 8%;
    height: 66%;
    border-radius: 100%;
    background: blue;
    display: inline-block;
    vertical-align: center;
    margin: 0 1% 0 1%;
}

.Health-Container {
    width: 100px;
    height: 100px;
    margin: 2%;
    border-radius: 0 50% 50% 50%;
    border: 3px solid black;
    transform: rotate(45deg);
    overflow: hidden;
    display: inline-block;
}

.Health-Fill {
    width: 100px;
    height: 200px;
    top: -40px;
    left: 10px;
    background: red;
    transform: rotate(-45deg);
    position: relative;
    z-index: 90;
}

.OpponentHandCards {
    height: 585px;
    top: -450px;
    left: 720px;
    position: absolute;
}

.PlayerHandCards {
    height: 585px;
    top: 18px;
    left: 759px;
    position: absolute;
}

.OpponentPlayCard {
    height: 195px;
    width: 145px;
    background: url('https://s-media-cache-ak0.pinimg.com/236x/be/c4/ba/bec4ba0cfe504c4eddae9ab58269b7bb--warcraft-art-game-icon.jpg');
    background-size: cover;
    border-radius: 5px;
}

.PlayerPlayCard {
    height: 195px;
    width: 145px;
    background: transparent;
    z-index: 2;
    display: block;
}

.PlayCard:hover {
    z-index: 33;
    background: #2A16B5;
}

.PlayCard::after {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.5, 1.5);
    background: rgb(9, 132, 176);
    z-index: 2;
}

.TableCard {
    height: 195px;
    width: 145px;
    display: inline-block;
    margin: 0 2% 0 2%;
    text-align: center;
}

.FillInDiv {
    height: 390px;
    width: 145px;
}

.DisplayCard {
    position: fixed;
    height: 195px;
    width: 145px;
    left: 100px;
    top: 100px;
    display: none;
    background: blue;
    z-index: 9999;
}