.CardComponent {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(http://i.imgur.com/U1dkXzQ.png);
    background-size: cover;
    z-index: 10;
    text-align: center;
    position: relative;
    transition: top 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), left 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), transform 0.2s ease, opacity 0.5s ease;
}

.wordWrap {
    width: 78%;
    font-size: 20px;
    word-wrap: break-word;
    line-break: strict;
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
}

.play-name {
    top: 104px;
    left: 18px;
    text-align: center;
    position: absolute;
}

.play-cost {
    top: -14%;
    left: 10%;
    text-align: center;
    font-size: 30px;
    position: absolute;
}

.play-damage {
    top: 130px;
    left: 17px;
    text-align: center;
    font-size: 30px;
    position: absolute;
}

.play-health {
    top: 130px;
    left: 120px;
    text-align: center;
    font-size: 30px;
    position: absolute;
}

.play-img {
    top: 37px;
    left: 61px;
    line-height: 25px;
    font-size: 30px !important;
    color: white;
    position: absolute;
}